// color
$main-bg-color: #1f2141;
$main-color: #d4dffc;

$bg-dark: #151933;
$color-gray: #d1d0d6;

$btn-bg: $bg-dark;
$btn-color: #4d516a;
$btn-active-bg: #fc6e6d;
$btn-active-color: #5b181f;

$progress-ring-color: #fc6e6d;
